OAUTH_TOKEN_URL=https://your-host/prweb/api/oauth2/v1/token
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
MAIN_API_URL=https://your-host/prweb/api/application/v2/data_views/your-data-view
CaseInstanceKey=YOUR-CASE-KEY
TEST_DATA_PATH=testData/testData.json
CASE_API_BASE_URL=https://khjnecje.pegace.net/prweb/api/v1/cases
CASE_ID=YOUR-CASE-ID
PegaUserName=TestAutomation
PASSWORD=rules@1234
